* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #1564c2;
}

.todo {
    width: 350px;
    min-height: 100px;
    margin: 20px auto;
    padding: 15px 10px;
    border-radius: 10px;
    background-color: #fff;
}